<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	</head>
	<body>
		<div class="container">
			<a class="btn btn-md btn-primary" href="/create_post/">Create New Post</a>
			<h1>Welcome to my blog</h1>
			<div style="display:flex; flex-wrap:wrap">
				{% for post in all_posts %}
					<a href="/post/{{post.id}}/"><div class="card" style="width: 300px; margin-right: 10px;margin-bottom: 10px">
						<div class="card-body">
							<h5 class="card-title">{{post.title}}</h5>
							<span>Posted on {{post.timestamp|timesince}} ago</span>
							<!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
							<a href="/post/{{post_id}}" class="card-link">Read More</a>
							<!-- <a href="#" class="card-link">Another link</a> -->
						</div>
					</div></a>
					
					
					<hr>
				{% endfor %}
			</div>
		</div>
	</body>
</html>